body {
    background-color: #ecf0f1;
    font-family: 'Inter', sans-serif;
}

div {
    text-align: center;
    margin: auto
}

.link-button {
    padding: 10px 24px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.link-button:hover {
    background-color: #34495e;
}
